{% comment %}
  **  Importante!
  **  Definir nombre de página: pageTitle
{% endcomment %}
{% assign pageTitle = 'First Page' %}

{% include "header" %}

<h1>Simple Grunt Workflow</h1>

{% include "breadcrumb" %}

<h2>{{ pageTitle }} </h2>

<p>repo: https://github.com/juanbrujo/simple-grunt-workflow</p>
<p>article: http://www.csslab.cl/2014/04/07/automatizacion-de-tareas-para-proyectos-en-front-end/</p>
<p>@csslab / &copy;2014</p>


{% include "footer" %}