/* ==========================================================================
   Description here please
   coder: yournamehere
   startdate: YYYYMMDD
   ========================================================================== */

@import "inc/yui3-cssreset";
@import "inc/mixins";
@import "inc/sprites";

/* ========================================================================== 
   ========================================================================== */

body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

